<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
 id="org.apache.cordova.plugins.WaitingDialog"
 version="0.1.0">
 <name>WaitingDialog</name>
 <description>
	Forked from https://github.com/bogavante/purplecabbage-phonegap-plugins/tree/master/iOS/WaitingDialog
</description>
<license>MIT</license>
<keywords>phonegap,ios,dialog,spinner</keywords>

<js-module src="www/WaitingDialog.js" name="WaitingDialog">
  <merges target="window.plugins.waitingDialog" />
</js-module>

<!-- ios -->
<platform name="ios">
  <config-file target="config.xml" parent="/*">
    <feature name="WaitingDialog">
      <param name="ios-package" value="WaitingDialog"/>
    </feature>
  </config-file>

  <header-file src="src/ios/WaitingDialog.h" />
  <source-file src="src/ios/WaitingDialog.m" />
</platform>
</plugin>
